parameters:
  ignoreErrors:
    -
      message: "#^Class App\\\\Models\\\\Score\\\\Best not found\\.$#"
      count: 1
      path: app/Console/Commands/UserRecalculateRankCounts.php

    -
      message: "#^Class App\\\\Models\\\\UserStatistics not found\\.$#"
      count: 1
      path: app/Console/Commands/UserRecalculateRankCounts.php

    -
      message: "#^Result of method Illuminate\\\\Console\\\\Command\\:\\:error\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Console/Commands/UserRecalculateRankCounts.php

    -
      message: "#^Method App\\\\Events\\\\NotificationEventBase\\:\\:__construct\\(\\) invoked with 1 parameter, 0 required\\.$#"
      count: 1
      path: app/Events/NewPrivateNotificationEvent.php

    -
      message: "#^Result of method Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:report\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Exceptions/Handler.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Account/SessionsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/AccountController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Admin/Controller.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/BeatmapDiscussionPostsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/BeatmapDiscussionsController.php

    -
      message: "#^Relation 'beatmapset' is not found in App\\\\Models\\\\Beatmap model\\.$#"
      count: 1
      path: app/Http/Controllers/BeatmapsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/BeatmapsetDiscussionVotesController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/BeatmapsetEventsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/BlocksController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Chat\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Chat/ChannelsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Chat\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Chat/ChatController.php

    -
      message: "#^Variable \\$messages might not be defined\\.$#"
      count: 1
      path: app/Http/Controllers/Chat/ChatController.php

    -
      message: "#^Variable \\$presence might not be defined\\.$#"
      count: 2
      path: app/Http/Controllers/Chat/ChatController.php

    -
      message: "#^Variable \\$silences might not be defined\\.$#"
      count: 1
      path: app/Http/Controllers/Chat/ChatController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Chat/Controller.php

    -
      message: "#^Call to an undefined static method App\\\\Models\\\\Chat\\\\Message\\:\\:last\\(\\)\\.$#"
      count: 1
      path: app/Http/Controllers/ChatController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/ChatController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/ClientVerificationsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Forum/PostsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/FriendsController.php

    -
      message: "#^Called 'first' on Laravel collection, but could have been retrieved as a query\\.$#"
      count: 1
      path: app/Http/Controllers/HomeController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/HomeController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Payments/PaypalController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Payments/XsollaController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/ScorePinsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/SessionsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Store\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Store/CartController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Store\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Store/CheckoutController.php

    -
      message: "#^Variable \\$order might not be defined\\.$#"
      count: 1
      path: app/Http/Controllers/Store/CheckoutController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Store\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/Store/NotificationRequestsController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Store\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/StoreController.php

    -
      message: "#^Result of method App\\\\Http\\\\Controllers\\\\Controller\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Http/Controllers/UsersController.php

    -
      message: "#^Variable \\$query might not be defined\\.$#"
      count: 1
      path: app/Http/Controllers/UsersController.php

    -
      message: "#^Variable \\$transformer might not be defined\\.$#"
      count: 1
      path: app/Http/Controllers/UsersController.php

    -
      message: "#^Called 'first' on Laravel collection, but could have been retrieved as a query\\.$#"
      count: 1
      path: app/Http/Middleware/UpdateUserLastvisit.php

    -
      message: "#^Relation 'notification' is not found in App\\\\Models\\\\UserNotification model\\.$#"
      count: 1
      path: app/Jobs/MarkNotificationsRead.php

    -
      message: "#^Method App\\\\Libraries\\\\BeatmapsetDiscussionsBundle\\:\\:getRelatedDiscussions\\(\\) invoked with 1 parameter, 0 required\\.$#"
      count: 1
      path: app/Libraries/BeatmapsetDiscussionsBundle.php

    -
      message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Redis\\:\\:transaction\\(\\)\\.$#"
      count: 1
      path: app/Libraries/Chat.php

    -
      message: "#^mkdir\\(\\)\\: File exists$#"
      count: 1
      path: app/Libraries/CleanHTML.php

    -
      message: "#^Class App\\\\Libraries\\\\Elasticsearch\\\\SearchResponse constructor invoked with 2 parameters, 1 required\\.$#"
      count: 1
      path: app/Libraries/Elasticsearch/Hit.php

    -
      message: "#^Call to an undefined method App\\\\Libraries\\\\ForumDefaultTopicCover\\:\\:delete\\(\\)\\.$#"
      count: 1
      path: app/Libraries/ForumDefaultTopicCover.php

    -
      message: "#^Variable \\$history might not be defined\\.$#"
      count: 1
      path: app/Libraries/Fulfillments/UsernameChangeFulfillment.php

    -
      message: "#^Class League\\\\CommonMark\\\\Extension\\\\Table\\\\TableCaption not found\\.$#"
      count: 1
      path: app/Libraries/Markdown/Indexing/Extension.php

    -
      message: "#^Class App\\\\Libraries\\\\Markdown\\\\StyleBlock\\\\Parser constructor invoked with 2 parameters, 1 required\\.$#"
      count: 1
      path: app/Libraries/Markdown/StyleBlock/StartParser.php

    -
      message: "#^Call to an undefined static method GrahamCampbell\\\\GitHub\\\\Facades\\\\GitHub\\:\\:gitData\\(\\)\\.$#"
      count: 1
      path: app/Libraries/OsuWiki.php

    -
      message: "#^Call to an undefined static method GrahamCampbell\\\\GitHub\\\\Facades\\\\GitHub\\:\\:repo\\(\\)\\.$#"
      count: 2
      path: app/Libraries/OsuWiki.php

    -
      message: "#^Method App\\\\Libraries\\\\OsuWiki\\:\\:parseGithubPath\\(\\) should return array\\<array\\> but return statement is missing\\.$#"
      count: 1
      path: app/Libraries/OsuWiki.php

    -
      message: "#^Call to an undefined method App\\\\Libraries\\\\Payments\\\\PaymentProcessor\\:\\:userSearch\\(\\)\\.$#"
      count: 1
      path: app/Libraries/Payments/PaymentProcessor.php

    -
      message: "#^Variable \\$order might not be defined\\.$#"
      count: 2
      path: app/Libraries/Payments/PaymentProcessor.php

    -
      message: "#^Call to an undefined method App\\\\Libraries\\\\ProfileCover\\:\\:delete\\(\\)\\.$#"
      count: 1
      path: app/Libraries/ProfileCover.php

    -
      message: "#^Variable \\$endTimeFunction in isset\\(\\) always exists and is not nullable\\.$#"
      count: 1
      path: app/Libraries/Search/BeatmapsetQueryParser.php

    -
      message: "#^Variable \\$message might not be defined\\.$#"
      count: 1
      path: app/Libraries/User/ForceReactivation.php

    -
      message: "#^Relation 'channel' is not found in App\\\\Models\\\\Chat\\\\UserChannel model\\.$#"
      count: 1
      path: app/Libraries/UserChannelList.php

    -
      message: "#^Called 'first' on Laravel collection, but could have been retrieved as a query\\.$#"
      count: 1
      path: app/Libraries/UserVerification.php

    -
      message: "#^Class App\\\\Models\\\\Score not found\\.$#"
      count: 1
      path: app/Models/Beatmap.php

    -
      message: "#^Class App\\\\Models\\\\Score\\\\Best not found\\.$#"
      count: 1
      path: app/Models/Beatmap.php

    -
      message: "#^Relation 'beatmapset' is not found in App\\\\Models\\\\BeatmapDiscussion model\\.$#"
      count: 1
      path: app/Models/BeatmapDiscussion.php

    -
      message: "#^Relation 'user' is not found in App\\\\Models\\\\BeatmapDiscussionPost model\\.$#"
      count: 1
      path: app/Models/BeatmapDiscussionPost.php

    -
      message: "#^Relation 'beatmapDiscussion' is not found in App\\\\Models\\\\BeatmapDiscussionVote model\\.$#"
      count: 1
      path: app/Models/BeatmapDiscussionVote.php

    -
      message: "#^Relation 'user' is not found in App\\\\Models\\\\BeatmapDiscussionVote model\\.$#"
      count: 2
      path: app/Models/BeatmapDiscussionVote.php

    -
      message: "#^Relation 'user' is not found in App\\\\Models\\\\FavouriteBeatmapset model\\.$#"
      count: 1
      path: app/Models/Beatmapset.php

    -
      message: "#^Variable \\$beatmapsetId might not be defined\\.$#"
      count: 1
      path: app/Models/BeatmapsetEvent.php

    -
      message: "#^Variable \\$stream in isset\\(\\) always exists and is not nullable\\.$#"
      count: 1
      path: app/Models/Build.php

    -
      message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Redis\\:\\:transaction\\(\\)\\.$#"
      count: 1
      path: app/Models/Chat/Channel.php

    -
      message: "#^Anonymous function has an unused use \\$topic\\.$#"
      count: 1
      path: app/Models/Forum/Post.php

    -
      message: "#^Caught class App\\\\Models\\\\Forum\\\\Exception not found\\.$#"
      count: 1
      path: app/Models/Forum/TopicWatch.php

    -
      message: "#^Variable \\$rootHash might not be defined\\.$#"
      count: 1
      path: app/Models/NewsPost.php

    -
      message: "#^Class App\\\\Models\\\\Score\\\\Best not found\\.$#"
      count: 1
      path: app/Models/ReplayViewCount/Model.php

    -
      message: "#^Class App\\\\Models\\\\ReplayViewCount not found\\.$#"
      count: 1
      path: app/Models/Score/Best/Model.php

    -
      message: "#^Relation 'user' is not found in App\\\\Models\\\\Solo\\\\Score model\\.$#"
      count: 1
      path: app/Models/Solo/Score.php

    -
      message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
      count: 1
      path: app/Models/User.php

    -
      message: "#^Relation 'beatmaps' is not found in App\\\\Models\\\\Beatmapset model\\.$#"
      count: 1
      path: app/Models/User.php

    -
      message: "#^Static method App\\\\Models\\\\UserProfileCustomization\\:\\:repairExtrasOrder\\(\\) invoked with 2 parameters, 1 required\\.$#"
      count: 1
      path: app/Models/UserProfileCustomization.php

    -
      message: "#^Method App\\\\Models\\\\UserStatistics\\\\Model\\:\\:setCreatedAt\\(\\) should return \\$this\\(App\\\\Models\\\\UserStatistics\\\\Model\\) but return statement is missing\\.$#"
      count: 1
      path: app/Models/UserStatistics/Model.php

    -
      message: "#^Result of method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Models/UserStatistics/Model.php

    -
      message: "#^Result of method App\\\\Models\\\\UserStatistics\\\\Model\\:\\:__construct\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/Models/UserStatistics/Spotlight/Model.php

    -
      message: "#^Variable \\$isRead might not be defined\\.$#"
      count: 1
      path: app/Transformers/NotificationTransformer.php

    -
      message: "#^Variable \\$notification might not be defined\\.$#"
      count: 7
      path: app/Transformers/NotificationTransformer.php

    -
      message: "#^Instantiated class App\\\\Transformers\\\\DeletedUser not found\\.$#"
      count: 1
      path: app/Transformers/UserContestEntryTransformer.php
